<br><br>

<div class="container">
    <h4>Busqueda</h4>
    <form action="/api/product/productId" method="POST">

        <select id="busqueda" name="busqueda">
            <option value="nombreProducto">Por nombre</option>
            <option value="ID">Por ID</option>
        </select>

        <input class="search_input" type="text" name="productId" id="productId" placeholder="Introduce busqueda...">
        <button type="submit">Buscar</button>

    </form>

</div>

<br>

<div>
    <form action="/insertar" method="GET">
        <button type="submit" class="btn btn-primary">Nuevo producto</button>
    </form>
    <br>
    <table id="myTable" class="table table-striped table-responsive-md btn-table">

        <thead>

            <tr>
                <th>ID</th>
                <th class="th-sm">Name</th>
                <th class="th-sm">price</th>
                <th class="th-sm">Picture</th>
                <th class="th-sm">Category</th>
                <th class="th-sm">Description</th>
                <th class="th-sm">Options</th>
            </tr>
        </thead>

        <tbody>
            {{#products}}
            <tr>
                <td>{{_id}}</td>
                <td>{{name}}</td>
                <td>{{price}}</td>
                <td>{{picture}}</td>
                <td>{{category}}</td>
                <td>{{description}}</td>
                <td>
                    <form action="/api/product/{{_id}}" method="GET">
                        <button class="btn  btn-primary" type="submit">Editar</button>
                    </form>
                </td>

            </tr>
            {{/products}}
        </tbody>
    </table>
</div>